* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
}

.location,
.temp {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location div {
    width: 130px;
    height: 100px;
    background-color: transparent;
    border: 0;

}

.temp {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;

}


.degree-section span,
h2 {
    margin: 5px;
    font-size: 50px;
    font-weight: bold;
}